.container {
    margin: 0 auto;
    max-width: 1200px;
}

.grid {
    display: flex;
    flex-flow: row wrap;
}

.grid-item {
    margin: 1rem;

    width: calc(100% / 3 - 2rem);

    display: flex;
    justify-content: center;
}

/* ... */

.image {
    width:  350px;
    height: 150px;
}

.image-loading {
    background: url(loading.gif) 50% no-repeat;
}

.image > img {
    max-height: 100%;
    height: auto;

    display: block;
    margin: 0 auto;
}